services:
  nginx:
    build: nginx
    ports:
      - "8080:8080"
    volumes:
      - static:/var/www
    networks:
      - tiktok
    restart: always
    env_file:
      - .env

  postgresql:
    build: postgresql
    networks:
      - tiktok
    volumes:
      - db:/var/lib/postgresql/data
    restart: always
    env_file:
      - .env
    healthcheck:
      test: pg_isready -U $POSTGRES_USER -d $POSTGRES_DB
      interval: 10s
      timeout: 5s
      retries: 20

  redis:
    build: redis
    networks:
      - tiktok
    restart: always
    env_file:
      - .env
    healthcheck:
      test: redis-cli ping | grep "PONG"
      interval: 10s
      timeout: 5s
      retries: 20

  backend:
    build: backend
    volumes:
      - static:/var/www
    networks:
      - tiktok
    restart: always
    env_file:
      - .env
    healthcheck:
      test: curl -s --raw localhost:8000 | grep "Transcendance"
      interval: 10s
      timeout: 5s
      retries: 20
    environment:
      dev: true
    depends_on:
      postgresql:
        condition: service_healthy

  backend-game:
    build: backend-game
    networks:
      - tiktok
    restart: always
    env_file:
      - .env
    environment:
      dev: true
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy
      backend:
        condition: service_healthy

networks:
  tiktok:
    driver: bridge

volumes:
  db:
  static:
