services:
  nginx:
    build: nginx
    ports:
      - "443:443"
      - "443:443/udp"
      - "8080:8080"
    networks:
      - reseau
    restart: always
    env_file:
      - .env

  postgresql:
    build: postgresql
    networks:
      - reseau
    restart: always
    env_file:
      - .env
    healthcheck:
      test: pg_isready -U $POSTGRES_USER -d $POSTGRES_DB
      interval: 20s
      timeout: 5s
      retries: 10
      start_period: 30s

  django:
    build: django
    networks:
      - reseau
    restart: always
    env_file:
      - .env
    depends_on:
      postgresql:
        condition: service_healthy

networks:
  reseau:
    driver: bridge
