<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transcendance</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <style>
      body {
        background-color: black;
        text-align: center;
        color: white;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
    </style>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <script src="{% static 'home/script.js' %}"></script>
  </head>

  <body>
    <header>
      {% if auth %}
      <a href="/auth/logout">Logout</a>
      {% else %}
      <a href="/auth/register">Register</a>
      <a href="/auth/login">Login</a>
      {% endif %}
    </header>
    <div class="boite-animated">
      <div class="titlebar-animated">
        <span>{{message.title}}</span>
      </div>
      <div class="content">
        <p>{{message.body}}</p>
        <p id="count">{{counter}}</p>
        <p>
          <button onclick="onClickMe()" class="confirm-button">
            Cliquez sur moi !
          </button>
        </p>
      </div>
    </div>
    <div class="chat">
      <div class="titlebar-animated">
        <span>Chat</span>
      </div>
      <div id="chat-log" class="content">
        {% for message in message_list %}
        <div>{{message.content}}</div>
        {% endfor %}
      </div>
      <input
        onkeyup="onKeyUp(event)"
        id="chat-message-input"
        type="text"
        size="100"
      /><br />
      <input
        onclick="onClick(event)"
        id="chat-message-submit"
        type="button"
        value="Send"
      />
    </div>
  </body>
</html>
